<!DOCTYPE html>
<html>
    <head>
        <title>Build a Blog</title>
        <style type="text/css">
            .error {
                color: red;
            }

            p, label, input, textarea, span, h2 {
              margin-left: 550px;
            }

            footer {
              margin-left: 600px;
              font-size: 15;
              color: grey;
            }

        </style>
    </head>
    <body>
        <h1>
            <center><a href="/blog">Blog!</a></center>
        </h1>

        {% block content %}
        {% endblock %}

    </body>
</html>
